version: "3.9"

services:
  postgres:
    image: postgres:15
    container_name: supermarket-postgres
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: supermarket
    ports:
      - "5433:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  redis:
    image: redis:7
    container_name: supermarket-redis
    ports:
      - "6379:6379"

volumes:
  pgdata:
